@(history: List[List[Object]], header: List[String], users: List[String], error: String)

@import tags._

<!DOCTYPE html>

<html>
<head>
<title>Welcome</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
</head>
<body>
	<div style="width: 100%">
		<table style="width: 100%">
			<tr style="width: 100%">
				<td style="width: 90%; text-align: center; border: 1"><h1>Welcome to Nano PayPal</h1>
					<center>
						<label name="error">@error</label>
						<br/><br/>
						<form action="/admin/History" method="post">
							Select the user to see individual history: <select name="select">
								@for(u <- users) {
									<option value="@u">@u</option>
								}
							</select>
							<input type="submit" value="See History" />
						</form>
						<br/><br/>
						<table border="1" >	
								<tr>
								@for(u <- header) {
									<th>
										@u
									</th>
								}
								</tr>			
								@for(u <- history) {
									<tr>
										@for(v <- u) {
											<td>
												@v
											</td>
										}
									</tr>
								}
						</table>
					</center>
				</td>
				<td style="width: 10%; text-align: right; vertical-align: top;">
					@adminSideBar()
				</td>
			</tr>
		</table>
	</div>
</body>
</html>